:root {
    --width:100%;
}
.box{
    position: relative;
    width:100%;
    padding:15px;
    max-width: calc(var(--width) - 200px);
    background-color: #c7c7c7;
    margin-left:40px;
    margin-right:40px;
}
.box::after, .box::before{
    content: '';
   position: absolute;
   top: 0; left: 0; right: 0; bottom: 0;
}
.box::after{
    content:'';
    border-left:1px solid black;
    border-right:1px solid black;
    top:-25px;
    bottom:-25px;
}
.box::before{
    content:'';
    border-top:1px solid black;
    border-bottom:1px solid black;
    left:-25px;
    right:-25px;
}